.chat-header {
    background: var(--lightModeTitleBackground);
    padding: var(--paddingMedium);
    border-bottom: 1px solid var(--lightModeBorderColor);
    position: sticky;
    top:0;
    display:flex;
    align-items: center;
}
.chat-header .header-menu-conversations {
    display: none;
    margin-right: var(--paddingMedium);
}

.chat-header .user .profile-img {
    height: 75px;
    width: 75px;
}

.chat-header .header-menu {
    margin-left: auto;
}

/* On screens that are 768px or less*/
@media screen and (max-width: 768px) {
    .chat-header {
        padding: var(--paddingSmall);
    }
    .chat-header .user .profile-img {
        height: 50px;
        width: 50px;
    }
}
/* On screens that are 568px or less*/
@media screen and (max-width: 568px) {
    .chat-header {
        padding: var(--paddingSmall);
    }
    .chat-header .header-menu-conversations {
        display: flex;
        align-items: center;
        gap: var(--paddingSmall);
    }
    .chat-header .user .profile-img {
        height: 30px;
        width: 30px;
    }
}
