.chat-header {
    background: var(--lightModeTitleBackground);
    padding: var(--paddingMedium);
    border-bottom: 1px solid var(--lightModeBorderColor);
    position: sticky;
    top:0;
}
.chat-header h1 {
    color: var(--lightModeTextColor);
    margin: 0;
}
