/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div#root {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: var(--fontSize);
  font-family: var(--fontDefault);
}

div#root  {
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, :after, :before {
  box-sizing: border-box;
}

:root {
  /*fonts*/
  --fontSize: 20px;
  --fontDefault: sans-serif;
  /*padding*/
  --paddingSmall: 0.65rem;
  --paddingDefault: 0.85rem;
  --paddingMedium: 1rem;
  --paddingLarge: 1.25rem;
  /*miscs*/
  --borderRadius: 15px;
  /*colors*/
  --primaryColor: #0077ff;
  --secondaryColor: #FFFFFF;
  --primaryColorHover: #318ff9;
  /*sizes*/
  --breakpointMedium: 1280px;
  --breakpointSmall: 768px;
  --breakpointMini: 567px;
}

input, button, textarea {
  font-size: var(--fontSize);
  font-family: var(--fontDefault);
  padding: var(--paddingSmall);
  border-radius: var(--borderRadius);
  max-width: 100%;
  outline: none !important;
  border: 0;
}

button {
  background: var(--primaryColor);
  color: var(--secondaryColor);
}
button:hover {
  background: var(--primaryColorHover);
  cursor:pointer;
}