/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body {
  margin: 0;
  font-size: var(--fontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--lightModeTextColor);
}

html, body, div#root {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  font-size: var(--fontSize);
  font-family: var(--fontDefault);
}

div#root  {
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, :after, :before {
  box-sizing: border-box;
}

:root {
  /*fonts*/
  --fontSize: 16px;
  --fontSizeFields: 16px;
  --fontDefault: 'Roboto', sans-serif;
  /*padding*/
  --paddingSmall: 0.65rem;
  --paddingDefault: 0.85rem;
  --paddingMedium: 1rem;
  --paddingLarge: 1.25rem;
  /*miscs*/
  --borderRadius: 15px;
  /*colors*/
  --primaryColor: #0077ff;
  --secondaryColor: #FFFFFF;
  --primaryColorHover: #318ff9;
  /*sizes*/
  --breakpointMedium: 1280px;
  --breakpointSmall: 768px;
  --breakpointMini: 567px;
}

input, button, textarea {
  background: var(--lightModeInputBackground);
  color: var(--lightModeTextColor);
  font-size: var(--fontSizeFields);
  font-family: var(--fontDefault);
  padding: var(--paddingSmall);
  max-width: 100%;
  outline: none !important;
  border: 0;
}
input::placeholder{
  color: var(--lightModeTextColor);
}

button {
  background: var(--primaryColor);
  color: var(--secondaryColor);
}
button:hover {
  background: var(--primaryColorHover);
  cursor:pointer;
}
@media (prefers-color-scheme: dark) {
  :root {
      /*USER MODE DARK*/
    --lightModeMainBackground: #000;
    --lightModeConversationsBackground: #000;
    --lightModeBorderColor: #888;
    --lightModeTitleBackground: #000;
    --lightModeInputBackground: #1F1F1F;
    --lightModeTextColor: #FFF;
  }
  body.light-mode {
      /* && CHANGED TO LIGHT */
    --lightModeMainBackground: #FFFFFF;
    --lightModeConversationsBackground: #FFFFFF;
    --lightModeBorderColor: #CCCCCC;
    --lightModeTitleBackground: #FFFFFF;
    --lightModeInputBackground: #EEE;
    --lightModeTextColor: #333;
  }
}
@media (prefers-color-scheme: light) {
  :root {   
    /*USER MODE LIGHT*/
    --lightModeMainBackground: #FFFFFF;
    --lightModeConversationsBackground: #FFFFFF;
    --lightModeBorderColor: #CCCCCC;
    --lightModeTitleBackground: #FFFFFF;
    --lightModeInputBackground: #EEE;
    --lightModeTextColor: #333;
  }
  body.dark-mode {
     /* && CHANGED TO DARK */
    --lightModeMainBackground: #000;
    --lightModeConversationsBackground: #000;
    --lightModeBorderColor: #888;
    --lightModeTitleBackground: #000;
    --lightModeInputBackground: #1F1F1F;
    --lightModeTextColor: #FFF;   
  }
}