/*window container*/

.chat-window {
    padding: 10px;
    overflow-y: auto;
}

/*Chatmeddelande*/

.message-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    clear:both;
}

.message-item .message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    color: var(--lightModeTextColor);
}

.message-item.in {
    float:left;
}
.message-item.in .message {
    background: var(--lightModeInputBackground);
    align-self: flex-start;
}

.message-item.out .message {
    background: var(--primaryColor);
    color: var(--secondaryColor);
    align-self: flex-end;
}

.message-item .date {
    font-size: 11px;
    margin-bottom: 5px;
    color: var(--lightModeTextColor);
    text-align: center;
}
.message-item .status {
    display: none;
}

.message-item:last-of-type .status {
    display: block;
    color: var(--lightModeTextColor);
    font-size: 11px;
}

.message-item.in .status {
    align-self: flex-start;
}

.message-item.out .status {
    align-self: flex-end;
}
.chat-input {
    border-top: 1px solid var(--lightModeBorderColor);
    margin-top: auto;
    display:flex;
    align-self: flex-end;
    align-items: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    font-size: 14px;
    padding: 10px;
    background: var(--lightModeMainBackground);
  }
  .chat-input button {
    margin-left: var(--paddingSmall);
    align-self: end;
    border-radius: var(--borderRadius);
    background: transparent;
    padding: 8px;
    color: var(--primaryColor);
    font-size: 19px;
}